CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.vs/
build/
out/
.github/

//CMake Build Junk
*~
*.swp
Thumbs.db

//Visual Studio Build Artifacts
*.obj
*.pdb
*.vcxproj*
*.sln